<div class="g_fonter">
	<div class="top">
		<div class="global_main clearfix">
			<ul class="clearfix lists">
				<li>
					<p>青岛轨道交通产业示范区</p>
					<ul>
						<li>双招双引热线：0532-58655258</li>
						<li>电话：0532-58655297</li>
						<li>邮箱：qdgdjtgw@qd.shandong.cn</li>
						<li>网址：http://qrtidz.qingdao.cn/</li>
						<li>地址：山东省青岛市城阳区春阳路西端</li>
					</ul>
				</li>
				<li>
					<p>青岛轨道交通产业示范区</p>
					<ul>
						<li style="line-height: 200%;">国家发展和改革委员会  科学技术部  工业和信息化部  商务部  
							山东省人民政府  山东省发展和改革委员会  山东省科学技术厅  
							山东省工业和信息化厅  山东省商务厅  青岛政务网  市发展改革委市工业和信息化局  
							市科技局  市商务局城阳政务网  中国国家铁路集团有限公司  中国中车青岛地铁集团  
							青岛轨道交通装备产业协会
						</li>
					</ul>
				</li>
				<li class="limg">
					<img src="./images/news/ewm.png" >
				</li>
			</ul>
		</div>
	</div>
	<div class="bottom">
		<div>
			Copyright © 2020.Company 青岛轨道交通产业示范区 All rights reserved.
		</div>
	</div>
</div>
