.g_title {
  color: #141414;
  font-size: 36px;
  text-align: center;
  padding: 50px 0;
}
.g_fonter .top {
  padding: 10px 0;
  background: #252C44;
}
.g_fonter .top .l {
  float: left;
  color: #fff;
  padding-right: 50px;
  padding-top: 20px;
  font-size: 16px;
}
.g_fonter .top .c {
  float: left;
  height: 60px;
  width: 70%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.g_fonter .top .c li {
  padding-top: 5px !important;
  float: left;
  padding: 0 20px;
  margin-bottom: 5px !important;
}
.g_fonter .top .c a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.g_fonter .top .r {
  float: right;
}
.g_fonter .top .r img {
  height: 60px;
}
.g_fonter .bottom {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
}
.g_fonter .bottom img {
  width: 20px;
  height: 20px;
}
.g_banner {
  position: relative;
}
.g_banner img {
  display: block;
  width: 100%;
  height: 40vh;
}
.g_banner span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
.g_tabs {
  background: #FFFFFF;
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.09);
}
.g_tabs ul {
  display: flex;
  padding: 40px 20px;
}
.g_tabs ul li {
  flex: 1;
  text-align: center;
  color: #908A8A;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}
.g_tabs ul li:hover {
  color: #1B5CFF;
}
.g_tabs ul li span {
  position: relative;
}
.g_tabs ul li i {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: #1B5CFF;
  width: 100%;
  height: 7px;
  border-radius: 3px;
  opacity: 0;
}
.g_tabs ul .active {
  color: #0F0F0F !important;
}
.g_tabs ul .active i {
  opacity: 1;
}
.g_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  transition: all 0.5s;
  z-index: 105;
}
.g_header .h_l {
  float: left;
}
.g_header .h_l a {
  color: #fff;
  display: block;
}
.g_header .h_l a > img {
  width: 94px;
  height: 45px;
  float: left;
}
.g_header .h_l a .r {
  float: left;
  margin-left: 10px;
}
.g_header .h_l a .r b {
  font-size: 16px;
}
.g_header .h_l a .r p {
  font-size: 12px;
  opacity: 0.6;
}
.g_header .h_c {
  float: left;
  padding-left: 10px;
  padding-top: 16px;
}
.g_header .h_c li {
  float: left;
}
.g_header .h_c li a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  padding: 0 20px;
}
.g_header .h_c li .active {
  color: #ffffff;
}
.g_header .h_r {
  float: right;
  cursor: pointer;
}
.g_header .h_r .sc {
  float: left;
  padding: 15px;
  background: rgba(255, 255, 255, 0.1859);
  position: relative;
}
.g_header .h_r .sc input {
  outline: none;
  border: none;
  background: none;
  display: inline-block;
  width: 130px;
  color: #fff;
}
.g_header .h_r .sc input::placeholder {
  color: #fff;
  font-size: 16px;
}
.g_header .h_r .sc img {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 20px;
}
.g_header .h_r .btns {
  float: left;
  padding-top: 10px;
}
.g_header .h_r .btns span {
  padding: 5px 15px;
  display: inline-block;
}
.g_header .h_r .btns span:last-child {
  border: 1px solid #fff;
  border-radius: 2px;
}
.g_titles {
  font-size: 16px;
  color: #908A8A;
}
.g_titles span {
  cursor: pointer;
}
.g_titles .active {
  color: #3770FE;
}
.accommodation-detail .global_main {
  position: relative;
}
.accommodation-detail .vi {
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
}
.accommodation-detail .vi .b {
  display: block;
  width: 100%;
  height: 700px;
}
.accommodation-detail .vi .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.accommodation-detail .t {
  color: #474545;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 20px;
}
.accommodation-detail .p {
  color: #939393;
  font-size: 16px;
  padding-bottom: 20px;
}
.accommodation-detail .imgs {
  padding-bottom: 20px;
  display: flex;
}
.accommodation-detail .imgs img {
  flex: 1;
  margin-right: 30px;
}
.accommodation-detail .imgs img:last-child {
  margin: 0;
}
.accommodation-detail .kan {
  margin-bottom: 20px;
}
.accommodation-detail .kan img {
  background: none;
  margin-right: 5px;
  position: relative;
  top: 5px;
  display: inline-block;
  height: 24px;
}
.accommodation-detail .btn {
  padding-bottom: 60px;
  text-align: right;
}
.accommodation-detail .btn span {
  color: #fff;
  background-color: #01C4FC;
  padding: 10px 50px;
  font-size: 16px;
  margin-left: 40px;
  cursor: pointer;
  display: inline-block;
}
.accommodation-detail .alert_ts {
  z-index: 100;
  position: absolute;
  bottom: 180px;
  right: 20px;
  background: #FFFFFF;
  box-shadow: 0px 2px 18px 0px rgba(31, 172, 251, 0.23);
  border-radius: 4px;
  width: 520px;
  display: none;
}
.accommodation-detail .alert_ts .tb {
  overflow: hidden;
  color: #1FACFB;
  font-size: 18px;
  padding: 20px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.5);
}
.accommodation-detail .alert_ts .tb img {
  float: right;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.accommodation-detail .alert_ts .tb b {
  display: inline-block;
  padding: 0 20px;
  position: relative;
}
.accommodation-detail .alert_ts .tb b i {
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 140%;
  height: 4px;
  background-color: #1facfb;
}
.accommodation-detail .alert_ts .m {
  padding: 20px;
}
.accommodation-detail .alert_ts .m .js {
  font-size: 16px;
  padding-bottom: 10px;
}
.accommodation-detail .alert_ts .m .li b {
  display: block;
  font-size: 16px;
  color: #000;
}
.accommodation-detail .alert_ts .m .li textarea {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid #E5E5E5;
  margin: 10px 0;
}
.accommodation-detail .alert_ts .m .li input {
  outline: none;
  border: 1px solid #E5E5E5;
  margin: 10px 0;
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.accommodation-detail .alert_ts .m .an {
  display: block;
  background-color: #1facfb;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
}
