.g_title {
  color: #141414;
  font-size: 36px;
  text-align: center;
  padding: 50px 0;
}
.g_fonter .top {
  padding: 10px 0;
  background: #BC0000;
}
.g_fonter .top .lists > li {
  float: left;
  width: 33.33%;
  color: #fff;
}
.g_fonter .top .lists > li > p {
  font-size: 18px;
  margin-bottom: 20px;
}
.g_fonter .top .lists > li li {
  opacity: 0.8;
  padding: 1px 0;
}
.g_fonter .top .lists .limg {
  padding-top: 40px;
  text-align: right;
}
.g_fonter .top .lists .limg img {
  display: inline-block;
  width: 60%;
}
.g_fonter .bottom {
  background-color: #4A4A4A;
  color: #fff;
  text-align: center;
  padding: 40px 0;
  font-size: 16px;
}
.g_banner {
  position: relative;
}
.g_banner img {
  display: block;
  width: 100%;
  height: 40vh;
}
.g_banner span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
.g_tabs {
  background: #FFFFFF;
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.09);
}
.g_tabs ul {
  display: flex;
  padding: 40px 20px;
}
.g_tabs ul li {
  flex: 1;
  text-align: center;
  color: #908A8A;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}
.g_tabs ul li:hover {
  color: #F7B500;
}
.g_tabs ul li span {
  position: relative;
}
.g_tabs ul li i {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: #F7B500;
  width: 100%;
  height: 7px;
  border-radius: 3px;
  opacity: 0;
}
.g_tabs ul .active {
  color: #0F0F0F !important;
}
.g_tabs ul .active i {
  opacity: 1;
}
.g_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  transition: all 0.5s;
  z-index: 105;
}
.g_header .h_l {
  float: left;
}
.g_header .h_l a {
  color: #fff;
  display: block;
}
.g_header .h_l a > img {
  width: 94px;
  height: 45px;
  float: left;
}
.g_header .h_l a .r {
  float: left;
  margin-left: 10px;
}
.g_header .h_l a .r b {
  font-size: 16px;
}
.g_header .h_l a .r p {
  font-size: 12px;
  opacity: 0.6;
}
.g_header .h_c {
  float: left;
  padding-left: 10px;
  padding-top: 16px;
}
.g_header .h_c li {
  float: left;
}
.g_header .h_c li a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  padding: 0 20px;
}
.g_header .h_c li .active {
  color: #ffffff;
}
.g_header .h_r {
  float: right;
  cursor: pointer;
}
.g_header .h_r .sc {
  float: left;
  padding: 15px;
  background: rgba(255, 255, 255, 0.1859);
  position: relative;
}
.g_header .h_r .sc input {
  outline: none;
  border: none;
  background: none;
  display: inline-block;
  width: 130px;
  color: #fff;
}
.g_header .h_r .sc input::placeholder {
  color: #fff;
  font-size: 16px;
}
.g_header .h_r .sc img {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 20px;
}
.g_header .h_r .btns {
  float: left;
  padding-top: 10px;
}
.g_header .h_r .btns span {
  padding: 5px 15px;
  display: inline-block;
}
.g_header .h_r .btns span:last-child {
  border: 1px solid #fff;
  border-radius: 2px;
}
.g_titles {
  font-size: 16px;
  color: #908A8A;
}
.g_titles span {
  cursor: pointer;
}
.g_titles .active {
  color: #3770FE;
}
.password {
  min-height: 100%;
}
.password .header {
  background-color: #C00000;
}
.password .header .logo {
  display: inline-block;
  width: 300px;
}
.password .header .logo img {
  margin-right: 5px;
  float: left;
  height: 45px;
  width: 94px;
}
.password .header .logo b {
  color: #fff;
  font-size: 16px;
}
.password .header .logo p {
  padding-top: 2px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
.password .header span {
  opacity: 0.8;
  color: #fff;
  font-size: 16px;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding-left: 20px;
}
.password .header .back {
  float: right;
  color: #fff;
  font-size: 16px;
  opacity: 0.8;
  padding-top: 20px;
}
.password .main {
  width: 35%;
  padding: 50px;
  box-sizing: border-box;
  margin: 20px auto;
  background: #FFFFFF;
  box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 28vh;
}
.password .main .b {
  color: #F7B500;
  font-size: 22px;
  font-weight: 600;
  display: block;
  padding-bottom: 20px;
}
.password .main .f li {
  margin-bottom: 20px;
  position: relative;
  padding-left: 90px;
  box-sizing: border-box;
}
.password .main .f li span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #797979;
  font-size: 16px;
  width: 90px;
}
.password .main .f li input {
  display: block;
  outline: none;
  width: 90%;
  border-radius: 3px;
  border: 1px solid #D7D7D7;
  padding: 8px 10px;
  box-sizing: border-box;
}
.password .main .f li input::placeholder {
  font-size: 16px;
  color: #BFBFBF;
}
.password .main .f .dx input {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
}
.password .main .f .dx i {
  background-color: #E02020;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 5px;
  width: 40%;
  box-sizing: border-box;
  text-align: center;
}
.password .main .btn {
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #F7B500;
  padding: 12px 0;
  margin: 50px 0;
  cursor: pointer;
  border-radius: 5px;
}
