.g_title {
  color: #141414;
  font-size: 36px;
  text-align: center;
  padding: 50px 0;
}
.g_fonter .top {
  background: #252C44;
}
.g_fonter .top .l {
  float: left;
  color: #fff;
  padding-right: 50px;
  padding-top: 20px;
  font-size: 16px;
}
.g_fonter .top .c {
  float: left;
  height: 60px;
  width: 70%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.g_fonter .top .c li {
  float: left;
  padding: 0 20px;
  margin-bottom: 20px;
}
.g_fonter .top .c a {
  color: rgba(255, 255, 255, 0.6);
}
.g_fonter .top .r {
  float: right;
}
.g_fonter .top .r img {
  height: 60px;
}
.g_fonter .bottom {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
.g_fonter .bottom img {
  width: 20px;
  height: 20px;
}
.g_banner {
  position: relative;
}
.g_banner img {
  display: block;
  width: 100%;
  height: 40vh;
}
.g_banner span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
.g_tabs {
  background: #FFFFFF;
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.09);
}
.g_tabs ul {
  display: flex;
  padding: 40px 20px;
}
.g_tabs ul li {
  flex: 1;
  text-align: center;
  color: #908A8A;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}
.g_tabs ul li:hover {
  color: #1B5CFF;
}
.g_tabs ul li span {
  position: relative;
}
.g_tabs ul li i {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: #1B5CFF;
  width: 100%;
  height: 7px;
  border-radius: 3px;
  opacity: 0;
}
.g_tabs ul .active {
  color: #0F0F0F !important;
}
.g_tabs ul .active i {
  opacity: 1;
}
.g_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  transition: all 0.5s;
  z-index: 105;
}
.g_header .h_l {
  float: left;
}
.g_header .h_l a {
  color: #fff;
  display: block;
}
.g_header .h_l a > img {
  width: 94px;
  height: 45px;
  float: left;
}
.g_header .h_l a .r {
  float: left;
  margin-left: 10px;
}
.g_header .h_l a .r b {
  font-size: 16px;
}
.g_header .h_l a .r p {
  font-size: 12px;
  opacity: 0.6;
}
.g_header .h_c {
  float: left;
  padding-left: 10px;
  padding-top: 16px;
}
.g_header .h_c li {
  float: left;
}
.g_header .h_c li a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  padding: 0 20px;
}
.g_header .h_c li .active {
  color: #ffffff;
}
.g_header .h_r {
  float: right;
  cursor: pointer;
}
.g_header .h_r .sc {
  float: left;
  padding: 15px;
  background: rgba(255, 255, 255, 0.1859);
  position: relative;
}
.g_header .h_r .sc input {
  outline: none;
  border: none;
  background: none;
  display: inline-block;
  width: 130px;
  color: #fff;
}
.g_header .h_r .sc input::placeholder {
  color: #fff;
  font-size: 16px;
}
.g_header .h_r .sc img {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 20px;
}
.g_header .h_r .btns {
  float: left;
  padding-top: 10px;
}
.g_header .h_r .btns span {
  padding: 5px 15px;
  display: inline-block;
}
.g_header .h_r .btns span:last-child {
  border: 1px solid #fff;
  border-radius: 2px;
}
.finance .lb {
  padding: 10px 0;
  background-color: #EDF2F8;
}
.finance .lb img {
  display: inline-block;
  width: 25px;
  height: 25px;
}
.finance .lb span {
  color: #0F0F0F;
  font-size: 18px;
  font-weight: 600;
  margin-left: 30px;
  position: relative;
  top: -5px;
}
.finance .m_c .left {
  float: left;
  width: 79%;
  margin-right: 1%;
}
.finance .m_c .left li {
  float: left;
  width: 32%;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
  background: #FFFFFF;
  padding: 20px;
}
.finance .m_c .left li > b {
  color: #0F0F0F;
  font-size: 20px;
  display: block;
}
.finance .m_c .left li .f {
  padding-top: 10px;
  color: #F40303;
  font-size: 18px;
  font-weight: 600;
}
.finance .m_c .left li .f i {
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
}
.finance .m_c .left li .i {
  padding-top: 15px;
  color: #908A8A;
  font-size: 16px;
}
.finance .m_c .left li .i i {
  color: #F40303;
  font-weight: 600;
  display: inline-block;
  margin: 0 5px;
}
.finance .m_c .left li .btn {
  position: absolute;
  right: 40px;
  bottom: 20px;
  background-color: #F40303;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px 25px;
  cursor: pointer;
}
.finance .m_c .left li:nth-child(3n-1) {
  margin: 0 2%;
}
.finance .m_c .right {
  float: left;
  background-color: #fff;
  width: 20%;
}
.finance .m_c .right .b {
  background-color: #004BFF;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}
.finance .m_c .right .b b {
  font-size: 24px;
}
.finance .m_c .right .b a {
  float: right;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}
.finance .m_c .right ul {
  padding: 20px;
}
.finance .m_c .right ul li {
  margin-bottom: 10px;
  border-bottom: 1px dashed #979797;
}
.finance .m_c .right ul li b {
  display: block;
  font-size: 16px;
  color: #555050;
}
.finance .m_c .right ul li i {
  padding: 10px 0;
  display: block;
  text-align: right;
  color: #ADADAD;
  font-size: 14px;
}
.finance .m_c .right ul li img {
  display: block;
  width: 100%;
  height: 155px;
}
